body {
    background-image: url('../images/mountains.jpg');
    background-size: 100vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* need to link to background image? to add class? */
.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

header h1 {
    margin-left: 3vw;   
    /* Gives a rounded W letter */
    font-family: 'Montserrat Alternates', sans-serif;
}

button {
    background: rgba(239, 233, 233, 0.134);
    color: white;
    border-color: rgba(94, 95, 96, 0.449);
    border-width: 0px;
    filter: drop-shadow(1px 1px 1px rgb(147, 146, 146));
    margin: .5vw;
}

.search {
    margin-bottom: 5vh;
}

.search-button {
    border-radius: 20px;
    padding: 1vh 1vw;
}

.city-buttons-container {
    display: block;
}

.city-button {
    padding: 1vw 1vh;
    width: 20vw;
    border-radius: 10px;
}

.today-weather-container {
    background: rgba(239, 233, 233, 0.134);
    border-radius: 10px;
    margin-bottom: 3vw;
    padding: 2vh 1vw;
}

/* For each day card of the week */
.day-container {
    background: rgba(239, 233, 233, 0.134);
    border-radius: 10px;
    margin-right: 2vw;
}