body {
    background-image: url('../images/mountains.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

header h1 {
    margin-top: 2vh;
    margin-left: 3vw;   
    /* Gives a rounded W letter */
    font-family: 'Montserrat Alternates', sans-serif;
}

.search-for-city {
    margin-top: 3rem;
}

button {
    background: rgba(239, 233, 233, 0.134);
    color: white;
    border-color: rgba(94, 95, 96, 0.449);
    border-width: 0px;
    filter: drop-shadow(1px 1px 1px rgb(147, 146, 146));
    margin: .5vw;
}

button:focus {
    outline: none;
}


button:hover {
    background: rgba(81, 79, 79, 0.156);
}

.form-input {
    height: 5.5vh;
    background: rgba(239, 233, 233, 0.134);
    color: white;
    margin-left: .3vw;
    border-width: 0px;
}

.form-input:active {
    height: 8vh;
    border-width: 0px;
}

.form-input:hover {
    height: 8vh;
    border-width: 0px;
}

.form-input:focus {
    outline: none;
}

.search {
    margin-bottom: 5vh;   
}

.search-button {
    height: 5.5vh;
    border-radius: 0px;
    padding: 1vh 1vw;
    margin-left: -4.5px;
    background: rgba(81, 79, 79, 0.156);
}

.city-buttons-container {
    display: block;
}

.city-button {
    padding: 1vw 1vh;
    width: 20vw;
    border-radius: 10px;
}

.today-weather-container {
    background: rgba(239, 233, 233, 0.134);
    border-radius: 10px;
    margin-bottom: 3vh;
    margin-top: -10vh;
    padding: 2vh 1vw;
}

/* For each day card of the week */
.day-container {
    background: rgba(239, 233, 233, 0.134);
    border-radius: 10px;
    margin-right: 2vw;
    margin-bottom: 2vh;
}

@media screen 
and (min-width : 250px) 
and (max-width : 440px) {
    body {
        height: 100vh;
    }
    .search-for-city{
        margin-top: 1vh;
    }
    .city-button{
        width: 30%;
    }
    .form-input {
        width: 70%;
        background: rgba(150, 165, 174, 0.567);

    }
    .today-weather-container {
        margin-top: 2vh;
        background: rgba(150, 165, 174, 0.567);
    }
.day-container {
    background: rgba(150, 165, 174, 0.567);
    }
}